

body {
    background-color: #ddd !important;
}
.clr-somegrey {
    color: #666 !important;
}







.form-group {
   border: .3px solid rgba(143, 143, 143, .6) !important;
   border-top: 2px solid rgb(1, 157, 45) !important;
   margin-bottom: 15px;
}
.form-group input, textarea {
    border: none !important;
    border-bottom: 1.3px solid rgb(0, 167, 11) !important;
    border-radius: 0 !important;
    background-color:  transparent;
    outline: none !important;
    color: #003204 !important;
    font-size: 17px;
    font-weight: bold;
}
.ask-label {
    color: #444;
    border-bottom:  dotted 1.3px grey;
    padding-bottom: 3px;
    font-size: 14px;
    margin-bottom: 6px !important;
}
.radio-inline {
    display: flex;
    align-items: flex-start;
    width: calc(50% - 5px);
    font-size: 13px;
    gap: 10px;
}

.radio-inline:has(input[type="radio"]:checked) {
    color: rgb(3, 209, 58);
    font-weight: bold;
}
/* Mengatur ulang penampilan bawaan */
input[type="radio"] {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-appearance: none; /* Untuk Chrome/Safari */
    -moz-appearance: none;    /* Untuk Firefox */
    appearance: none;

    /* Sekarang Anda bisa menentukan ukuran fisik */
    width: 8px; 
    height: 8px;
    
    /* Membuat tampilan lingkaran */
    outline: 2px solid #666 !important;
    outline-offset: 2px !important;
    border-radius: 50%;     /* Bentuk lingkaran */
    border: none !important;
        background-color: #fff; /* Warna isi saat tidak terpilih */
        cursor: pointer;        /* Mengubah kursor saat hover */
    }
/* Mengatur tampilan titik saat terpilih */
input[type="radio"]:checked {
    background-color: rgb(1, 216, 66);
    scale: 1.2;
    outline-color: rgb(0, 115, 29) !important; /* Warna isi saat terpilih */
}

input::placeholder, textarea::placeholder {
    color: rgb(128, 128, 128) !important;
    font-weight: normal !important;
}







